/*
* Name
* Due Date
* Project Name and Description 
*/

/* The universal selector */

* { 

}

/* Body attributes here */

body {

}

header {background-color: #FFECC7;}

main {background-color: #D8FCFF;}

footer {background-color:  #FFD8FD;}